<!DOCTYPE html>
<html>
<head>
	<title>Simple Calculator</title>
	<style>
		body {
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 100vh;
		}
		#calculator {
			display: flex;
			flex-wrap: wrap;
			width: 240px;
			background-color: skyblue;
			padding: 20px;
			border-radius: 5px;
		}
		#calculator > button {
			width: 50px;
			height: 50px;
			margin: 5px;
			border-radius: 5px;
		}
		#result {
			width: 168px;
			height: 57px;
			margin: 1px 5px;
			padding: 0 1px;
			background-color: white;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			border-radius: 2px;
		}
		#result > span {
			margin: auto 10px;
		}
		.operator, .clear, .equal {
			background-color: white;
		}
		p {
			padding: 0;
			margin: 5px auto 0 auto;
			color: white;
			font-style: italic;
		}
	</style>
</head>
<body>

	<div id="calculator">
		<div id="result">
			<span>{{ res }}</span>
		</div>
		<button class="operator" v-on:click="operation('/')">/</button>
		<button class="value" v-on:click="numAppend(7)">7</button>
		<button class="value" v-on:click="numAppend(8)">8</button>
		<button class="value" v-on:click="numAppend(9)">9</button>
		<button class="operator" v-on:click="operation('*')">*</button>
		<button class="value" v-on:click="numAppend(4)">4</button>
		<button class="value" v-on:click="numAppend(5)">5</button>
		<button class="value" v-on:click="numAppend(6)">6</button>
		<button class="operator" v-on:click="operation('-')">-</button>
		<button class="value" v-on:click="numAppend(1)">1</button>
		<button class="value" v-on:click="numAppend(2)">2</button>
		<button class="value" v-on:click="numAppend(3)">3</button>
		<button class="operator" v-on:click="operation('+')">+</button>
		<button class="value" v-on:click="numAppend(0)">0</button>
		<button class="clear" v-on:click="clearRes()">c</button>
		<button class="equal" v-on:click="answerRes()">=</button>
		</div>
	</div>

	<!-- vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<!-- my script -->
	<script>
		var app = new Vue ({
			el: '#calculator',
			data: {
				res: '0'
			},
			methods: {
				numAppend: function(num) {
					this.res = this.res.concat(num);
				},
				operation: function(op) {
					this.res = this.res.concat(' ' + op + ' ');
					var arr = document.getElementsByClassName('operator');
					for (var i = arr.length - 1; i >= 0; i--) {
						arr[i].disabled = true;
					}
					arr = document.getElementsByClassName('value');
					for (i = arr.length - 1; i >= 0; i--) {
						arr[i].disabled = false;
					}
				},
				clearRes: function() {
					var arr = Array.from(document.getElementById('calculator').children);
					for (var i = arr.length - 1; i >= 0; i--) {
						arr[i].disabled = false;
					}
					this.res = '0';
				},
				answerRes: function() {
					var res = document.getElementById('result').children[0].innerHTML;
					var arr = document.getElementsByClassName('operator');
					for (var i = arr.length - 1; i >= 0; i--) {
						arr[i].disabled = false;
					}
					arr = document.getElementsByClassName('value');
					for (i = arr.length - 1; i >= 0; i--) {
						arr[i].disabled = true;
					}
					var firstTerm = "", op, secondTerm = "0";
					for (var i = 0; i < res.length; i++) {
						if (res[i] != ' ') {
							firstTerm = firstTerm + res[i];
						} else {
							var op = res[i+1];
							for (i=i+3; i < res.length; i++) {
								secondTerm = secondTerm + res[i];
							}
							break;
						}
					}
					if (op == '/') {
						var answer = parseInt(firstTerm) / parseInt(secondTerm);
					} else if (op == '-') {
						var answer = parseInt(firstTerm) - parseInt(secondTerm);
					} else if (op == '*') {
						var answer = parseInt(firstTerm) * parseInt(secondTerm);
					} else {
						var answer = parseInt(firstTerm) + parseInt(secondTerm);
					}
					this.res = answer.toString();
				}
			}
		});
	</script>
</body>
</html>
