<!DOCTYPE html>
<html>
<head>
	<title>Simple Todo List</title>
	<style>
		@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed');
        
		* {
			margin: 0;
			padding: 0;
			border: 0;
		}
        
		body {
			font-family:'Roboto Condensed', 'sans-serif';
			background-color: skyblue;
			margin: 0;
			height: auto;
		}

		h1 {
			text-transform: uppercase;
		}

		main {
			margin: auto;
			max-width: 400px;
			min-height: 100vh;
			box-shadow: 30px 0px 40px rgba(0,0,0,0.1),
				-30px 0px 40px rgba(0,0,0,0.1);
			background-color: #fff;
		}

		#todo-list-text {
			text-align: center;
		}

		#title {
			padding-top:20px;
		}

		#add-todo-input {
			border-radius: 5px;
			border: solid thin;
			margin: 10px 18px 10px 5px;
			padding: 5px 10px;
		}

		#add-todo-button {
			padding: 5px 10px;
			border: solid thin;
			border-radius: 5px;
			background-color: #8080;
		}

		ul {
			list-style-type: none;
		}

		#todo-count {
			margin-bottom: 10px;
		}

		li {
			margin: 20px;
			border: solid thin;
			border-radius: 5px;
			padding: 3px;
			word-wrap: break-word;
		}

		#todo-list {
			margin: auto;
			background-color: white;
		}

		@media(min-width: 700px) {
			#add-todo-button {
				padding: 8px 10px;
			}	

			#add-todo-input {
				padding: 8px 10px;
			}
		}


	</style>
</head>
<body>
	<main>
		<div id="todo-list">
			<div id="todo-list-text">
				<h1 id="title">My Todo List</h1>
	
				<div id="todo-count">
					<!-- the count of items in your todo list should be displayed here -->
					{{ count }}
				</div>
		
				<ul id="list-elem">
					<!-- the items in your todo list should be displayed here -->
					<li v-for="item in items">{{ item }}</li>
				</ul>
		
				<form id="add-todo" v-on:submit.prevent="addTodo">
					<input id="add-todo-input" type="text" placeholder="What will I do?" v-model="todoToAdd">
					<button id="add-todo-button">Add</button>
				</form>
	
			</div>
		</div>
	</main>
	
	<!-- vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>

	<!-- my script -->
	<script>
		// implement simple todo list using VueJs :)
		var app = new Vue({
			el: '#todo-list',
			data: {
				items: [],
				todoToAdd: "",
			},
			computed: {
				count: function() {
					if(this.items.length === 0) {
						return 'You are free';
					} else if(this.items.length === 1) {
						return `You have ${this.items.length} task`;
					} else {
						return `You have ${this.items.length} tasks`;
					}
				}
			},
			methods: {
				addTodo: function() {
					this.todoToAdd = this.todoToAdd.trim();
					if(this.todoToAdd) {
						this.items.push(this.todoToAdd);
						this.todoToAdd = "";
					}
				}
			}
		});
	</script>
</body>
</html>
